*{ margin: 0;
    padding: 0;
box-sizing: border-box;
}

main {
    width: 40%;
    margin: 0 auto;
    
    background-color:#1A1A32;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}

.horizontal {
    height: 0.5px;
    background-color: white;

    width: 100%;
}

h1 {
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.heading {
    color: white;
    text-align: center;
}

.input {
    background-color: #090B24;
    border-width: 0;
    width: 100%;
    color: white;
    margin-top: 5px;
    height: 25px;
}

.AboutUs {
    background-color: white;
    border-color: white;
    color: black;
    width: 100%;
}

label {
    color: white;
    display: block;
   
}
.inline-element{
    display: inline;
}

#bio {
    height: 30px;
}

a {
    color: white;
}



form {
    margin: 0 auto;
    
    width: 70%;
    padding-top: 20px;
    line-height: 1.8;
    padding-bottom: 10px;

}
button {
    border-color: white;
    background-color: rgb(95, 90, 90);
    color: #ffffff;
    width: 50%;
    margin-left: 90px;
    margin-top: 10px;
    height: 30px;
    
}

p {
    color: white;
    margin-top: 10px;
}

select {
    margin-top: 5px;
    height: 20px;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        background-color: rgb(33, 33, 62);
        font-family: sans-serif;
        margin: 0px;

    }


    button {
        margin-left: 110px;
    }

}
@media (max-width: 430px) {
    main {
        width: 100%;
        background-color: rgb(33, 33, 62);
        font-family: sans-serif;
        /* margin: 0px; */

    }

    

   

    button {
        margin-left: 50px;
    }
}